body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #f8f8f8;
    text-align: center;
    padding: 30px;
    margin: 0; /* Ensures no default margin */
    background: linear-gradient(135deg, #290a59, #3d0b7e); /* Darkened background gradient */
    background-size: cover;
    position: relative;
    min-height: 100vh; /* Minimum height of viewport */
    overflow: hidden;
}

.texture-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('texture.webp');
    background-size: cover; /* Ensures the texture covers the entire element */
    background-blend-mode: multiply;
    opacity: 0.30; /* Adjusted opacity to 30% */
    z-index: -1;
}

.vignette {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent, #000 80%); /* Strong vignette effect */
    z-index: 0; /* Below content, above texture */
}

header {
    z-index: 2; /* Ensuring header content is above the vignette */
    position: relative;
}

header h1 {
    font-size: 2.2em;
    color: #ffd700;
}

header p {
    font-size: 1.1em;
    color: #ffd700;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; /* Ensuring content is above the vignette */
}

.portrait {
    width: 200px;
    height: auto;
    margin: 20px;
    border: 5px solid #ffd700;
    border-radius: 50%;
}

button {
    background-color: #9932cc;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    color: #ffffff;
}

button:hover {
    background-color: #800080;
}
