:root {
    --window-border: #707070;
    --window-header: #2B2B2B;
    --window-header-text: #AAAAAA;
}
body {
    font-family: "Segoe UI Light", sans-serif;
    overflow: hidden;
}
#content {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
}
#home-screen-wallpaper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url("../assets/home/wallpaper.png");
    background-size: 200vh 200vh;
    background-position: center;
    transform: scale(1.1);
}
#taskbar-container {
    width: 100vw;
    height: 4vh;
    position: absolute;
    bottom: 0;
}
#taskbar-background {
    width: 100vw;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px) brightness(1);
    filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 100%));
}
#taskbar-content {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#taskbar-content-left {
    width: 50%;
    height: 100%;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.program-icon {
    display: flex;
    background-size: 3vh;
    background-position: center;
    height: 100%;
    left: 0;
    width: 5vh;
}
#taskbar-content-right {
    width: 50%;
    height: 100%;
    right: 5px;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
}
.system-icon {
    display: flex;
    background-size: 2.5vh;
    background-position: center;
    height: 100%;
    right: 0;
    width: 5vh;
    color: white;
    font-size: 2vh;
    text-align: center;
    align-items: center;
}
#desktop-container {
    width: 4vw;
    height: 96vh;
    left: 1vh;
    top: 1vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.desktop-icon-container {
    width: 100%;
    height: 9vh;
    display: flex;
    flex-direction: column;
}
.desktop-icon-image {
    width: 100%;
    height: 60%;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.desktop-icon-text {
    bottom: 0;
    height: 20%;
    font-size: 1.5vh;
    justify-content: center;
    text-align: center;
    color: white;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 90%));
    cursor: default;
}
.window-container {
    background-color: deeppink;
    border: var(--window-border) 2px solid;
    width: 65vw;
    height: 85vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.window-header {
    background-color: var(--window-header);
    border-bottom: var(--window-border) 1px solid;
    width: 100%;
    height: 4%;
    position: relative;
}
.window-header-title {
    font-size: max(1.5vh);
    color: var(--window-header-text);
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
}
.window-header-button-container {
    width: 6vw;
    right: 0;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.window-header-button {
    color: var(--window-header-text);
    width: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}
.window-header-button:hover {
    background-color: var(--window-header-text);
    color: black;
}
#header-button-close:hover {
    background-color: #ff4024;
    color: white;
}