body {
    font-family: "Segoe UI Light";
    overflow: hidden;
}
#content {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
}
#lock-screen-wallpaper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url("../assets/login-wallpaper.png");
    background-size: 200vh 200vh;
    background-position: center;
    filter: blur(24px);
    opacity: 0.7;
    transform: scale(1.1);
}
#profile-login {
    width: 20vw;
    height: 20vw;
    position: absolute;
    left: 40vw;
    top: 22vh;
}
#profile-photo-main {
    background-image: url("../assets/shmungle-pfp.png");
    background-size: 180%;
    background-position: 50% 50%;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 0;
    position: absolute;
    border-radius: 100px;
}
#profile-name-main {
    font-size: 250%;
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
#profile-pin-box {
    width: 80%;
    height: 7.5%;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%);
    position: absolute;
    border: #989898 1px solid;
    outline: none;
    font-family: "Segoe UI Light";
    font-size: 150%;
}
#profile-pin-box::placeholder {
    font-family: "Segoe UI Light";
    font-size: medium;
    position: absolute;
    top: 50%;
    transform: translate(0, -55%);
}
#bottom-content {
    position: absolute;
    width: 98%;
    height: 15%;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%);
}
#bottom-content-profiles {
    height: 100%;
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2px;
}
.profile {
    display: flex;
}
.profile-image {
    width: 4vh;
    height: 4vh;
    background-size: 180%;
    background-position: center;
    left: 0;
    top: 0;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-name {
    color: #626262;
    left: 5vh;
    transform: translate(0, 20%);
    font-size: 100%;
}
#bottom-content-icons {
    width: 8vh;
    height: 2.5vh;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.icon {
    display: flex;
    height: 100%;
    width: 5vh;
}